<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__group1">
  /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
  <div class="header__rect5"></div>
  <img class="header__cover" src="/assets/russian_educational_institution_facade.png" alt="alt text" />
  <h1 class="header__hero_title1">МБОУ &quot;Средняя общеобразовательная школа № 6&quot;</h1>
  <div class="header__rect"></div>
  <h2 class="header__medium_title2">АСОШ №6</h2>
  <h5 class="header__highlight1">Ученикам</h5>
  <h5 class="header__highlight11">Учителям</h5>
  <h5 class="header__highlight12">Родителям</h5>
  <h5 class="header__highlight13">События</h5>
  <h5 class="header__highlight2">Контакты</h5>
</div>
